@page
@model ParkingSystem.Pages.ParkingSlots.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParkingSlot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParkingSlot.Plate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingSlot.Plate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingSlot.TimeIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingSlot.TimeIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingSlot.TimeOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingSlot.TimeOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingSlot.CustomerID)
        </dt>
        <dd>
            @Model.GetFullName(Model.ParkingSlot.CustomerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ParkingSlot.ParkingID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
