@page
@model ParkingSystem.Pages.PositionDiscounts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionDiscount[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionDiscount[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PositionDiscount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Position">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Position">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Position">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
